@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.name h1{
    font-family: "Anton";
    text-align: center;
    font-size: 100px;
    letter-spacing: 20px;
    /* display: inline-block; */
    /* -webkit-transform: scale(2, 2); */
    margin-top: -1px;
}

/* ------Media Queries-------- */

@media (max-width: 810px){
    .name h1{
        font-size: 80px;
    }
}

@media (max-width: 510px){
    .name h1{
        font-size: 60px;
    }
}

@media (max-width: 410px){
    .name h1{
        font-size: 50px;
    }
}