@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.mid{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-col-mid{
    flex-basis: 50%;
    margin-top: -127px;
}

.left-col-mid h1{
    font-family: "Anton";
}

.left-col-mid p{
    text-align: justify;
    margin-right: 20px;
}

.right-col-mid{
    flex-basis: 50%;
    margin-bottom: 90px;
}

.right-col-mid p{
    text-align: justify;
}

.right-col-mid h1{
    font-family: "Anton";
}

#italic{
    font-weight: lighter;
    font-style: italic;
}

#job-des{
    margin-top: -10px;
}

/* ------Media Queries-------- */

@media (max-width: 810px){
    .left-col-mid{
        margin-top: -90px;
    }
}