@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.lang-skills{
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang-skills h1 {
    font-family: 'Anton';
}


.dot {
    height: 20px;
    width: 20px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
}

.dot-not {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background-color: rgba(0, 0, 0, 0);
    /* position: absolute; */
}

.left-col-lang{
    flex-basis: 50%;
}

.right-col-skills{
    flex-basis: 50%;
}

.language{
    display: flex;
}

.left-lang{
    flex-basis: 25%;
    text-align: left;
    justify-content: center;
    margin-top: -15px;
    font-weight: bold;
}

.right-dot{
    flex-basis: 50%;
}

.right-col-skills{
    
}