.header{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    list-style-type: none;
}

.header ul li{
    font-weight: 600;
    list-style: none;
}

.git li{
    margin-left: -40px;
}

/* ------Media Query--------- */

@media (max-width: 810px){
    .header ul li{
        font-size: 15px;
    }
}