body {
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* .container{
    padding-left: 10%;
    padding-right: 10%;
} */

.download{
    margin: 0;
    position: fixed;
    /* top: 50%; */
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.download button{
    background: #000000;
    color: #ffffff;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 12px;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    display: inline-flex;
    outline: 0;
    justify-content: center;
    text-align: center;
}

.page {
    width: 21cm;
    min-height: 20cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background-image: url('./assets/background-2.jpg');
    /* background: #E6E6DC; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact-page {
    width: 21cm;
    min-height: 10cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background-image: url('./assets/background-2.jpg');
    /* background: #E6E6DC; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.certification-page{
    width: 21cm;
    min-height: 10cm;
    padding: 1cm;
    margin: 1cm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background-image: url('./assets/background-2.jpg');
    /* background: #E6E6DC; */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

/* -----Media Queries----- */

@media (max-width: 810px){
    .page, .contact-page, .certification-page{
        width: 18cm;
        min-height: 17cm;
    }
}

/* @media (max-width: 650px){
    .download{
        margin-left: 5px;
    }
}

@media (max-width: 498px){
    .download{
        margin-left: 80px;
    }
}

@media (max-width: 482px){
    .download{
        margin-left: 90px;
    }
} */