@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.reference h1{
    font-family: "Anton";
    text-align: center;
    justify-content: center;
}

.reference h4{
    margin-top: -15px;
    text-align: center;
    font-weight:600;
}

.reference p{
    /* margin-top: -15px; */
    text-align: center;
}